
.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/MainImage.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
}

.content-wrapper {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  max-width: 800px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  height: 4.5em; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typed-text {
  display: inline-block;
  min-height: 1.5em;
}

.cta-button {
  padding: 12px 24px;
  font-size: 1.2rem;
background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
    height: 6em; 
  }

  .cta-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
